In [1]:
import numpy as np
import pandas as pa

In [5]:
df = pa.read_csv("Salaries.csv")

In [6]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [11]:
print(df['Benefits'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
148643    0.0
148644    0.0
148645    0.0
148646    0.0
148647    0.0
Name: Benefits, Length: 148648, dtype: float64

In [12]:
print(df['Benefits'].isnull())

0          True
1          True
2          True
3          True
4          True
          ...
148643    False
148644    False
148645    False
148646    False
148647    False
Name: Benefits, Length: 148648, dtype: bool

In [13]:
print(df['Benefits'].isnull().sum())

36158

In [27]:
print(df.isnull().sum())

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits                 0
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148648
Agency                   0
Status              110529
dtype: int64

In [28]:
median = df['OvertimePay'].median()
df['OvertimePay'].fillna(median,inplace= True)

In [29]:
median= df['Benefits'].median()
df['Benefits'].fillna(median,inplace= True)

In [30]:
#median = df['Notes'].median()
#df['Notes'].fillna(median,inplace= True)

In [33]:
#AS STATUS HAS STRING VALUSE
cnt=0
for row in df['Status']:
    try:
        int(row)
        df.loc[cnt,'Status']=np.nan
    except ValueError:
        pass
    cnt+=1

In [34]:
print(df.isnull().sum())

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits                 0
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148648
Agency                   0
Status              110529
dtype: int64

In [37]:
print(df['Status'].isnull())

0          True
1          True
2          True
3          True
4          True
          ...
148643    False
148644    False
148645    False
148646    False
148647    False
Name: Status, Length: 148648, dtype: bool